body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    background-color: #000; /* Czarne tło stron */
    color: #fff; /* Białe czcionki */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Styl dla domyślnego widoku*/
.container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Dodano, aby wyrównać elementy do wysokości loga */
}

.logo-container,
.header-container,
.menu-container {
    display: flex;
}

.logo-container {
    justify-content: flex-start; /* Logo będzie na lewej stronie */
    margin-left: 1rem;
}

.header-container {
    justify-content: center; /* Nagłówek będzie na środku */
    display: none;
}

.menu-container {
    justify-content: flex-end; /* Menu będzie na prawej stronie */
    margin-right: 1rem;
}

.menu-icon {
    display: none; /* Domyślnie ukryta ikona hamburgera */
}

.menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}

.menu a {
    color: white; /* Kolor czcionki menu na biały */
    text-decoration: none; /* Usunięto podkreślenie */
    margin: 1rem 1rem; /* Dodano większe odstępy między elementami menu */
}

footer {
    text-align: center;
    padding: 10px;
    margin-top: auto; /* Umieść stopkę na dole */
    font-size: 1rem;
}


/*Styl mobilny dla ekranów do max 768px*/

@media only screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo-container,
    .header-container,
    .menu-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo-container {
        justify-content: center; /* Logo będzie na środku */
    }

    .header-container {
        justify-content: center; /* Nagłówek będzie na środku */
    }

    .menu-container {
        justify-content: center; /* Menu będzie na środku */
        margin-top: 2rem;
    }

    .menu-icon {
        display: block; /* Wyświetl ikonę hamburgera na mniejszych ekranach */
        position: absolute;
        right: 0;
        top: 1.5rem;
        margin-right: 1.5rem;
        cursor: pointer; /* Dodano, aby pokazać, że ikona jest klikalna */
    }

    .menu {
        display: none; /* Menu jest domyślnie ukryte */
        flex-direction: column;
        align-items: center;
    }

    .menu a {
        color: #fff;
        text-decoration: none;
        margin: 0.5rem 0;
    }

    .menu a.active {
        color: rgb(11, 139, 243);
        font-weight: bold;
    }

    .menu.show {
        display: flex; /* Menu jest wyświetlane, gdy ma klasę 'show' */
    }

    footer {
        text-align: center;
        padding: 10px;
        margin-top: auto; /* Umieść stopkę na dole */
        font-size: 1rem;
    }
}




